*{
    padding: 0;
    margin: 0;
}
body{
    color:orange;
    background-color: purple;
}
button{
    border-radius: 2rem;
    color: black;
    background-color: gold;
}
.container{
    margin: 2rem;
}